# LOCAL
APP_ENV=development
SECRET_KEY=zmien-ten-klucz-na-dlugi-losowy-ciag
DATABASE_URL=sqlite:///korepetycje.db
STORAGE_BACKEND=local

# Pierwszy administrator
ADMIN_NAME=Jakub
ADMIN_EMAIL=nauczyciel@example.com
ADMIN_PASSWORD=Admin12345!

# CLOUDFLARE R2 - używane po ustawieniu STORAGE_BACKEND=r2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
