{% extends "base.html" %}

{% block title %}Zmień hasło{% endblock %}

{% block content %}
<section class="section">
    <div class="container narrow">
        <div class="panel">
            <span class="eyebrow">{{ student.name }}</span>
            <h1>Zmień hasło</h1>

            <form method="post" class="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <label>
                    Nowe hasło
                    <input
                        type="password"
                        name="password"
                        required
                        minlength="8"
                    >
                </label>

                <button class="btn" type="submit">
                    Zapisz nowe hasło
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
